/*
#carvingIdeas{
    text-align: center;
    padding-left: 20%;
    padding-left: 20%;
}
.carvingIdea{
    background-color: rgba(113, 0, 128, 0.603);
    outline: black;
    outline-width: 5px;
    border-radius: 30px;
    padding-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
}

.carvingIdea > img{
    border-radius: 20px;
    width: 90%;
    height: 90%;
}

.carvingIdea > h2{
    padding-bottom: 30px;
}
*/

.entry{
    background-color: green;
    text-align: center;
    padding: 25px;
    border-radius: 25px;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 3%;
    margin-bottom: 3%
}
.entry > img{
    border-radius: 35px;
}