h1,h2,h5,p{
    color: blanchedalmond;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
#title{
    padding-top: 4%;
}
#subtitle{
    position: relative;
    bottom: 15px;
    padding-bottom: 60%;
}