.acme-regular {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main{
    animation-name: page_fade_in;
    animation-duration: 2s;
    padding-left: 10%;
    padding-right: 10%;
}

nav{
    position: sticky;
    text-align: center;
    color: #ff6600;
    font-size: 24px;
    font-weight: 100;
    border: 2px solid #FFFFFF;
    background-color: rgb(83, 6, 114);
    padding-top: 2%;
    padding-bottom: 2%;
}
nav > a{
    font-weight: 800;
    color: inherit;
    text-decoration: none;
}
nav > a:hover{
    color: #ff0000;
}
body{
    background-image: url('https://codehs.com/uploads/7abbbdf43f1d5e01fcfa297bfc25b1c0');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Acme','Franklin Gothic Medium';
    margin: 0;

}
h1{
    color: blanchedalmond;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
h2{
    font-size: 35px;
}

footer{
    background-color: #5c5c8a;
    border-top: 2px solid #FFFFFF;
    text-align: center;
    padding: 10px;
}
footer > h1,h2,h3,h4,h5,h6,p{
    color: white;
    font-weight: 400;
}


@keyframes page_fade_in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes page_fade_in {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
}
